.line-chart {
  fill: none;
  stroke: #ffc970;
  stroke-width: 11px;
  stroke-linecap: round;
  stroke-dasharray: 20;
  stroke-dashoffset: 1000;
  animation: dash 10s linear alternate infinite;
}

.experience-container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: "Ubuntu Mono", sans-serif;
  font-weight: 600;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 1500;
  }
}

h3 {
  font-size: 1.5rem;
}

.experience-list-container {
  width: 550px;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.age {
  width: 3rem;
  min-width: 3rem;
  text-align: center;
  padding: 0.3rem 0rem;
  font-size: 1.6rem;
  color: #ffc970;
}

.listing {
  padding: 0.3rem 0.5rem;
  flex-grow: 1;
  font-size: 1.3rem;
  line-height: 1.7rem;
}

.age-listing-container {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 550px) {
  .age {
    width: 2rem;
    min-width: 2rem;
    font-size: 1rem;
  }
  .listing {
    font-size: 0.9rem;
    line-height: 1rem;
  }
  .experience-list-container {
    margin-top: 0.5rem;
    width: 95%;
  }
  .line-chart {
    stroke-width: 8px;
  }
}
