.line-chart {
  fill: none;
  stroke: #d5d7dd;
  stroke-width: 11px;
  stroke-linecap: round;
  stroke-dasharray: 30;
  stroke-dashoffset: 1000;
  animation: dash 10s linear alternate infinite;
}

.experience-container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: "Ubuntu Mono", sans-serif;
  font-weight: 600;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 1500;
  }
}
