.path--background {
  fill: none;
  stroke: orange;
  stroke-width: 6px;
}

.path--foreground {
  fill: orange;
}

.label {
  font-family: "Ubuntu Mono", sans-serif;
  text-anchor: middle;
  fill: orange;
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projects-list-container {
  width: 800px;
  padding: 1rem 0rem;
  font-family: "Ubuntu Mono", sans-serif;
}

.projects-listing {
  margin: 0 auto;
  width: 50%;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}
