.statement-container {
  width: 40%;
  margin: 0 auto;
  font-size: 1.5rem;
  font-family: "Ubuntu Mono", sans-serif;
  font-weight: 700;
  line-height: 2.2rem;
}

.learn-listing {
  font-size: 1.3rem;
  margin-left: 3rem;
  margin-top: 1rem;

  display: flex;
  align-items: center;
}

.higlight {
  color: #ffc970;
}

.learning-icon {
  margin-right: 1rem;
  font-size: 1.5rem;
}
